In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/bitcoin_2017_to_2023.csv')

In [3]:
df

,timestamp,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,2023-08-01 13:19:00,28902.48,28902.49,28902.48,28902.49,4.686580,1.354538e+05,258,0.893910,25836.224836
1,2023-08-01 13:18:00,28902.48,28902.49,28902.48,28902.49,4.775890,1.380351e+05,317,2.245460,64899.385195
2,2023-08-01 13:17:00,28908.52,28908.53,28902.48,28902.49,11.522630,3.330532e+05,451,2.708730,78290.170121
3,2023-08-01 13:16:00,28907.41,28912.74,28907.41,28908.53,15.896100,4.595556e+05,483,10.229810,295738.166916
4,2023-08-01 13:15:00,28896.00,28907.42,28893.03,28907.41,37.746570,1.090761e+06,686,16.504520,476955.246611
...,...,...,...,...,...,...,...,...,...,...
3125995,2017-08-17 04:04:00,4261.48,4261.48,4261.48,4261.48,0.140796,5.999993e+02,1,0.140796,599.999338
3125996,2017-08-17 04:03:00,4261.48,4261.48,4261.48,4261.48,0.012008,5.117185e+01,3,0.012008,51.171852
3125997,2017-08-17 04:02:00,4280.56,4280.56,4280.56,4280.56,0.261074,1.117543e+03,2,0.261074,1117.542921
3125998,2017-08-17 04:01:00,4261.48,4261.48,4261.48,4261.48,0.000000,0.000000e+00,0,0.000000,0.000000
3125999,2017-08-17 04:00:00,4261.48,4261.48,4261.48,4261.48,1.775183,7.564907e+03,3,0.075183,320.390851

In [4]:
df['timestamp'] = df.timestamp.astype('datetime64[ns]')

In [5]:
df.dtypes

timestamp                       datetime64[ns]
open                                   float64
high                                   float64
low                                    float64
close                                  float64
volume                                 float64
quote_asset_volume                     float64
number_of_trades                         int64
taker_buy_base_asset_volume            float64
taker_buy_quote_asset_volume           float64
dtype: object

In [15]:
df['timestamp'].dt.year.value_counts()

timestamp
2022    526053
2020    525870
2021    524841
2019    524273
2018    522067
2023    306400
2017    196496
Name: count, dtype: int64

In [8]:
df_sorted = df.sort_values(by=df['timestamp'].dt.year)
df_sorted

KeyError: 0          2023
1          2023
2          2023
3          2023
4          2023
           ...
3125995    2017
3125996    2017
3125997    2017
3125998    2017
3125999    2017
Name: timestamp, Length: 3126000, dtype: int32

In [6]:
df_small = df[df['timestamp'].dt.year >= 2022]

In [57]:
from datetime import datetime

# Define the date string
def to_unix(date_string):

    # Convert the date string to a datetime object
    #datetime_object = datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')

    # Convert the datetime object to a Unix timestamp
    unix_timestamp = int(date_string.timestamp())
    
    return unix_timestamp

In [58]:
df_small['unix'] = df_small.timestamp.map(to_unix)
df_small['symbol'] = 'BTC/USD'
df_small.rename(columns={'timestamp': 'date', 'volume': 'Volume BTC', 'quote_asset_volume':'Volume USD' }, inplace=True)

/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_74559/4276894912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_small['unix'] = df_small.timestamp.map(to_unix)
/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_74559/4276894912.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_small['symbol'] = 'BTC/USD'
/var/folders/3l/70h6qcrd72q0j5x4sscw7qn40000gn/T/ipykernel_74559/4276894912.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_small.rename(columns={'timestamp': 'date', 'volume': 'Volume BTC', 'quote_asset_volume':'Volume USD' }, inplace=True)

In [61]:
df_small = df_small[['unix', 'date','symbol', 'open', 'high', 'low', 'close', 'Volume BTC', 'Volume USD']].drop_duplicates()

In [67]:
df_small_2022 = df_small[df_small['date'].dt.year == 2022].reset_index(drop=True)
df_small_2023= df_small[df_small['date'].dt.year == 2023].reset_index(drop=True)

In [71]:
df_small_2022.to_csv('../data/BTC-2022min.csv', index=False)
df_small_2023.to_csv('../data/BTC-2023min.csv', index=False)

In [18]:
import datetime

'2023-08-01 13:19:00'

In [20]:
unix_timestamp

1690888740